{% extends "base.html" %} {% block title %}{{
translations['news_details'][current_lang] }}{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <a
        href="{{ url_for('search', lang=current_lang, keyword=keyword) }}"
        class="btn btn-secondary mb-3"
      >
        <i class="bi bi-arrow-left"></i> {{ translations['back'][current_lang]
        }}
      </a>

      <h3 class="mb-4">{{ translations['news_details'][current_lang] }}</h3>

      <div class="card mb-4">
        <div class="card-header">
          <h4>Propiedades</h4>
        </div>
        <div class="card-body">
          <table class="table table-custom table-bordered">
            <tbody>
              {% for key, value in noticia.items() %}
              <tr>
                <th>{{ key }}</th>
                <td>
                  {% if "http" in value %}
                  <a href="{{ value }}" target="_blank">{{ value }}</a>
                  {% else %} {{ value }} {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% if inferred %}
      <div class="card">
        <div class="card-header">
          <h4>{{ translations['inferred_results'][current_lang] }}</h4>
        </div>
        <div class="card-body">
          <h5>Clases inferidas:</h5>
          <ul>
            {% for class in inferred.classes %}
            <li>{{ class }}</li>
            {% endfor %}
          </ul>

          <h5>Propiedades posibles:</h5>
          <ul>
            {% for prop in inferred.possible_properties %}
            <li>{{ prop }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
